<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602993727294-91no9um3if1ps73buo7m0dt7ve7erhck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602993727294-91no9um3if1ps73buo7m0dt7ve7erhck</string>
	<key>API_KEY</key>
	<string>AIzaSyBeMEjHMM1ouT3zR7somNc75SwEHstEL9c</string>
	<key>GCM_SENDER_ID</key>
	<string>602993727294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sando.WeatherSando</string>
	<key>PROJECT_ID</key>
	<string>weathersando</string>
	<key>STORAGE_BUCKET</key>
	<string>weathersando.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602993727294:ios:6a5ec036e852c818</string>
	<key>DATABASE_URL</key>
	<string>https://weathersando.firebaseio.com</string>
</dict>
</plist>